body {
  font-family: Roboto;
}

.tela-inicio {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  width: 177px;
  margin-top: 234px;
  margin-bottom: 260px;
}
.inicia-rodada {
  width: 345px;
  height: 72px;
  border: 3px solid #ffef61;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  margin-left: 7px;
}
.inicia-rodada p {
  font-weight: bold;
  font-size: 20px;
}
.tela-flashcards {
  background-color: #ffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topo{width: 100%; display: flex;justify-content: start;}

.topo img {
  margin-top: 26px;
  margin-left: 26px;
}

.container{position: relative; height: 575.75px; margin-top: 144px; width: 392px;display: block;}
.flashcard{position: absolute;width: 100%;height: 100%;transform-style: preserve-3d;transition: all 0.5s ease;}
.flashcard-virada{transform: rotateY(180deg)}
.thefront{position: absolute;width: 100%;height: 100%;backface-visibility: hidden;background-color: #A7E9AF;display: flex;flex-direction: column;flex-wrap: wrap;justify-content: space-between;align-items: center;}
.theback{position: absolute;width: 100%;height: 100%;backface-visibility: hidden;transform: rotateY(180deg);background-color: #A7E9AF;display:flex;justify-content: center;align-items: center;}

